@media only screen and (max-width:480px){
    .wrapper_careers{
        margin-bottom: 0;
        .careers__title{
            text-align: center;
            padding-top: 30px;
        }
    }
    .careers_riding .riding .riding_right .bg_img {
        background-image: url(../img/careers_img/careers_riding_img.jpg);
        background-position: center top;
    }
    .our_team{
        .profession{
            flex-direction: column;
            padding: 35px 0px;
            a{
                padding: 14px 110px;
                &:hover{
                    padding: 12px 108px;
                }
            }
            .text_block{
                .profession__title{
                    font-size: 18px;
                    line-height: 24px;
                }
                .profession__subtitle{
                    text-align: center;
                    padding: 4px 0 16px;
                }
            }
        }
    }
}