@media only screen and (max-width: 480px){

    .container{
        max-width: 320px;
        margin: auto;
    }
    /*------------
        HEADER
      --------------*/

    nav{
        max-width: 480px;
        overflow-x: hidden;
        .bar{
            display: block;
        }
        .logo{
            padding: 22px 0 22px 80px;
        }
        .navigation{
            display: none;
        }
    }
    .bar_menu{
        width: 480px;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
        position: fixed;
        top: 80px;
        z-index: 100;
        display: none;
        .menu{
            width: 70%;
            height: 100vh;
            background-color: $colorDarkblack;
            padding: 64px 0 0 32px;
            .menu_item{
                padding-bottom: 24px;
                .menu_link{
                    font-size: 18px;
                    line-height: 25px;
                    color: $colorLightGrey;
                    &:hover{
                        color: $colorYellow;
                    }
                }
            }
        }
        .btn_link{
            @include link;
            position: absolute;
            top: 500px;
            left: 40px;
            color: #fff;
            padding: 14px 80px;
            &:hover{
                @include link_hover;
                padding: 12px 78px;
            }
        }
    }
    .wrapper{
        max-width: 480px;
        background-image: linear-gradient(rgba(73, 85, 103, 0.7),rgba(73, 85, 103, 0.7)), url(../img/mobile_img/mobile_header_bg.jpg);
        background-position: top top;
        .wrapper_title{
            max-width: 320px;
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            padding-top: 115px;
        }
        .wrapper_subtitle{
            max-width: 320px;
            text-align: center;
            padding: 0;
            &:before{
                display: none;
            }
            &:after{
                left: -333px;
                top: 212px;
            }
        }
    }

/*---------------
    SERVICES
    ----------------*/
    .service{
        max-width: 480px;
        overflow-x: hidden;
        .path_service{
            display: none;
        }
        .services_block{
            flex-wrap: wrap;
            .service_type{
                width: 100%;
                padding-right: 0;
                .path_box{
                    width: 20px;
                    height: 20px;
                    padding: 40px;
                    border-radius: 50%;
                    background-color: $colorYellow;
                    background-image: url(../img/path_scootin.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin-left: 124px;
                    margin-top: 120px;
                }
                .path_box2{
                    width: 20px;
                    height: 20px;
                    padding: 40px;
                    border-radius: 50%;
                    background-color: $colorYellow;
                    background-image: url(../img/path_mobile_photo.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin-left: 124px;
                }
                .path_box3{
                    width: 20px;
                    height: 20px;
                    padding: 40px;
                    border-radius: 50%;
                    background-color: $colorYellow;
                    background-image: url(../img/path_scootin_human.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin-left:124px;
                }
                .service_title{
                    padding: 24px 0;
                    text-align: center;
                }
                .service_subtitle{
                    max-width: 350px;
                    text-align: center;
                    padding-bottom: 66px;
                }
            }
        }
    }

    /*----------
        RIDING
      -------------*/
    .main_riding{
        .riding{
            width: 320px;
            margin: 120px 0;
            flex-wrap: wrap;
            .riding_left{
                width: 320px;
                margin-bottom: 0px;
                order: 1;
                .riding_title{
                    max-width: 320px;
                    font-size: 32px;
                    line-height: 32px;
                    text-align: center;
                    padding-top: 56px;
                }
                .riding_subtitle{
                    max-width: 320px;
                    text-align: center;

                }
                .riding_link{
                    margin-left: 77px;
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
            .riding_right{
                width: 320px;
                padding-left: 0;
                .bg_img{
                    width: 320px;
                    height: 320px;
                    background-position: center right;
                    &:before{
                        display: none;
                    }
                    &:after{
                        top: 165px;
                        left: -25px;
                    }
                }
                .bg_img3{
                    max-width: 320px;
                    height: 320px;
                    margin-left: 0px;
                    &:before{
                        display: none;
                    }
                    &:after{
                        top: 0;
                    }
                }
            }
        }
        .riding2{
            max-width: 480px;
            margin: 120px 0;
            flex-wrap: wrap;
            .riding_right2{
                width: 100%;
                order: 1;
                .bg_img2{
                    max-width: 320px;
                    height: 320px;
                    background-position: bottom;
                    &:before{
                        display: none;
                    }
                    &:after{
                        top: 0;
                        width: 455px;
                        left: -190px;
                    }
                }
            }
            .riding_left2{
                width: 320px;
                padding-left: 0;
                order: 1;
                .riding_title2{
                    width: 100%;
                    font-size: 32px;
                    line-height: 32px;
                    text-align: center;
                    padding: 56px 0 0;
                }
                .riding_subtitle2{
                    max-width: 320px;
                    padding-top: 32px;
                    text-align: center;
                }
                .riding_link2{
                    margin-left: 77px;
                    margin-bottom: 0;
                }
            }
        }
    }
        /*------------
            FOOTER 
        --------------*/

        .sign_up{
            max-width: 480px;
            background-position: -244px bottom, -270px bottom, 213px bottom;
            background-size: 245px, 438px;
            .sign_up_block{
                flex-wrap: wrap;
                h2{
                    max-width: 320px;
                    font-size: 32px;
                    line-height: 32px;
                    text-align: center;
                }
                .img_block{
                    padding-top: 40px;
                    padding-left: 20px;
                    a{
                        padding-left: 0;
                        img{
                            width: 130px;
                            height: 40px;
                        }

                    }
                }
            }
        }
        .footer_nav{
            max-width: 480px;
            .footer_block{
                flex-wrap: wrap;
                .menu{
                    flex-direction: column;
                    width: 100%;
                    .menu_item{
                        text-align: center;
                        padding-top: 16px;
                        padding-right: 0;
                        &:first-child{
                            padding-top: 64px;
                            padding-bottom: 25px;
                        }
                    }
                }
            }
            .icons{
                padding-left: 60px;
            }
        }
}