*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, span, b, a{
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}
p  {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
}
a{
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    display: inline-block;
}
li{
    list-style-type: none;
}
body{
    max-width: 1440px;
    margin: auto;
    // overflow-x: hidden;
}